body {
    font: 14px Segoe, sans-serif;
    margin: 0 auto;
	background: white;
	color: black;
}

.navbar {
	display: flex;
	justify-content: center;
	background: #464646;
	border: 2px solid #100000;
	height: 10vh; 
    width: 100vw; 
}

.tab{
	width: 100%;
	background-color: black;
}
.heading{
	color: white;
}
.field{
	display: flex;
	float: left;
	background-color: black;
	color: white;

}