
.collapsible-header{
    outline: 0px;
} 
.collapsible-body
{
    background-color: white;
}
.collapsible li.active i {
    -ms-transform: rotate(-300deg); /* IE 9 */
    -webkit-transform: rotate(-300deg); /* Chrome, Safari, Opera */
    transform: rotate(-300deg);
  }